{% extends 'base.html' %}
{% load markdownify %}

{% block meta %}
    <title>{{ episode.name }} - {{ episode.show.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://casts.kbia.fm{{ episode.get_absolute_url }}">
    <meta property="og:type" content="article">
    <meta property="fb:app_id" content="110964099434176">
    <meta property="og:title" content="{{ episode.name }} - {{ episode.show.name }}">
    <meta property="og:description" content="{{ show.social_tagline }}">
    <meta property="og:image:url" content="{{ episode.image_url }}">
    <meta property="og:image:alt" content="{{ episode.image_alt }}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="article:publisher" content="https://www.facebook.com/KBIAnews/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@KBIA">
    <meta name="twitter:creator" content="@KBIA">
    <meta name="twitter:title" content="{{ episode.name }} - {{ episode.show.name }}">
    <meta name="twitter:description" content="{{ episode.show.social_tagline }}">
    <meta name="twitter:image" content="{{ episode.image_url }}">
{% endblock meta %}



{% block content %}
    <div class="background" aria-hidden="true" style="">
        <img src="{{ episode.image_url }}" style="">
    </div>
    <div id="pc-container">
        <header class="pc-head">
            {%  if episode.show.custom_banner %}
                <a href="{{ episode.show.get_absolute_url }}">
                <img class="show-banner" src="{{ episode.show.custom_banner.url }}" alt="{{ episode.show.name }} logo">
                </a>
                {% else %}
                <h1>{{ episode.show.name }}</h1>
            {%  endif %}

            <div class="text">
                {{ episode.show.text | markdownify | safe }}
            </div>
        </header>
        <article>
            <figure>
                <img src="{{ episode.image_url }}" alt="{{ episode.image_alt }}">
                {% if episode.image_caption %}
                    <figcaption>
                        <p>{{ episode.image_caption }}</p>
                        {% if episode.image_credit %}
                            <p>{{ episode.image_credit }}</p>
                        {% endif %}
                        {% if episode.image_source %}
                            <p>{{ episode.image_source }}</p>
                        {% endif %}
                    </figcaption>
                {% endif %}
            </figure>
                    <a href="{{ episode.show.get_absolute_url }}" class="episode-list-link"><i class="fas fa-stream"></i> View All Episodes</a>
            <h2>{{ episode.name }}</h2>
            <audio id="ply-{{ episode.story_api_id }}" controls controlsList="nodownload">
                <source src="{{ episode.audio_url }}" type="audio/mp3">
            </audio>
            <script>
                player = new Plyr('#ply-{{ episode.story_api_id }}');
            </script>
            {{ episode.text | markdownify | safe }}
        </article>
    </div>
{% endblock content %}