{% extends 'base.html' %}
{% load markdownify %}

{% block meta %}
    <title>{{ show.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://casts.kbia.fm{{ show.get_absolute_url }}">
    <meta property="og:type" content="article">
    <meta property="fb:app_id" content="110964099434176">
    <meta property="og:title" content="{{ show.name }}">
    <meta property="og:description" content="{{ show.social_tagline }}">
    <meta property="og:image:url" content="{{ show.episodes.first.image_url }}">
    <meta property="og:image:alt" content="{{ show.name }}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="article:publisher" content="https://www.facebook.com/KBIAnews/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@KBIA">
    <meta name="twitter:creator" content="@KBIA">
    <meta name="twitter:title" content="{{ show.name }}">
    <meta name="twitter:description" content="{{ show.social_tagline }}">
    <meta name="twitter:image" content="{{ show.episodes.first.image_url }}">
{% endblock meta %}

{% block content %}
    <div class="background" aria-hidden="true" style="">
        <img src="{{ show.episodes.first.image_url }}" style="">
    </div>
    <div id="pc-container">
        <header class="pc-head">
            {%  if show.custom_banner %}
                <a href="{{ show.get_absolute_url }}">
                    <img class="show-banner" src="{{ show.custom_banner.url }}" alt="{{ episode.show.name }} logo">
                </a>
            {% else %}
                <h1>{{ show.name }}</h1>
            {%  endif %}

            <div class="text">
                {{ show.text | markdownify | safe }}
            </div>
        </header>

        <div class="split-index">
            <div class="split-zone split-a">
                <h2>Subscribe</h2>
                <ul class="subscribe-options">
                    {% if show.itunes_url %}
                        <li><a href="{{ show.itunes_url }}"><span class="simple-svg" data-icon="simple-icons:apple" data-inline="true"></span><span class="text"> iTunes</span></a></li>
                    {% endif %}
                    {% if show.google_url %}
                        <li><a href="{{ show.google_url }}"><span class="simple-svg" data-icon="simple-icons:google" data-inline="true"></span><span class="text"> Google Podcasts</span></a></li>
                    {% endif %}
                    {% if show.overcast_url %}
                        <li><a href="{{ show.overcast_url }}"><span class="simple-svg" data-icon="simple-icons:overcast" data-inline="true"></span><span class="text"> Overcast</span></a></li>
                    {% endif %}
                    {% if show.pocket_casts_url %}
                        <li><a href="{{ show.pocket_casts_url }}"><span class="simple-svg" data-icon="ion-md-radio-button-on" data-inline="true"></span><span class="text"> Pocket Casts</span></a></li>
                    {% endif %}
                    {% if show.npr_one_url %}
                        <li><a href="{{ show.npr_one_url }}"><span class="simple-svg" data-icon="ion-ios-radio" data-inline="true"></span><span class="text"> NPR One</span></a></li>
                    {% endif %}
                    {% if show.stitcher_url %}
                        <li><a href="{{ show.stitcher_url }}"><span class="simple-svg" data-icon="simple-icons:stitcher" data-inline="true"></span><span class="text"> Stitcher</span></a></li>
                    {% endif %}
                    {% if show.feed_url %}
                        <li><a href="{{ show.feed_url }}"><span class="simple-svg" data-icon="simple-icons:rss" data-inline="true"></span><span class="text"> RSS Feed</span></a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="split-zone split-b">
                <h2>Listen</h2>
                <ul class="episode-list">
                    {% include "shows/components/episode_li_bulky.html" with episode=show.episodes.first %}
                    {% for episode in show.episodes.all|slice:"1:" %}
                        {% include "shows/components/episode_li_slim.html" with episode=episode %}
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
{% endblock content %}