<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plyr.io/3.3.23/plyr.polyfilled.js"></script>
    <link rel="stylesheet" href="http://localhost:1234/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    {% block meta %}
    <title>Title</title>
    {% endblock meta %}
</head>
<body>
{% block content %}
{%  endblock content %}
</body>
</html>